/*
    Documentation
    1.Navigation
*/

/*
    Tehcnical classes
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#Stage, #Stage div {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.bg-nonlayer {
    position: absolute;
    height: 135%;
    width: 100%;
    top: 0;
    min-width: 0px;
    background-color: rgb(0, 92, 77);
    background-size: cover;
    background-image: url('../images/pokerthrowcards.jpg');
    z-index:20;
}

/* Navigation */
nav {
    position: fixed;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999;
}

.menu_item {
    width: 65px;
    height: 65px;
    background-color: rgba(23,26,29,.4);
    position: relative;
    left: -65px;
    cursor: pointer;
    float: left;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
}

nav svg {
    width: 52%;
    left: 50%;
    position: relative;
    top: 50%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0.4;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

    nav svg path {
        fill: #ecf0f1;
    }

.nav_overlay_border {
    height: 65px;
    width: 0;
    top: 0;
    position: absolute;
    border-left: 1px solid;
    border-color: transparent;
    -moz-background-clip: content-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.nav_panel_wraper {
    width: 85px;
    height: 65px;
    position: relative;
    top: 0;
    overflow: hidden;
    cursor: default !important;
    float:left;
}

.nav_panel_border {
    width: 85px;
    height: 0;
    left: -85px;
    top: 33px;
    position: absolute;
    border-right: 1px solid;
    border-color: inherit;
}

.nav_panel {
    width: 85px;
    height: 65px;
    text-transform: uppercase;
    line-height: 65px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.857em;
    color: #ecf0f1;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: -85px;
    background-color: rgba(23,26,29,.4);
    cursor: pointer;
    -moz-transition: clip .2s linear;
    -o-transition: clip .2s linear;
    -webkit-transition: clip .2s linear;
    transition: clip .2s linear;
}

.menu_active {
    background-color: rgba(23,26,29,.8);
}

    .menu_active .nav_overlay_border {
        border-color: inherit;
    }

    .menu_item:hover svg, .menu_active svg {
        opacity: 0.8;
    }



#home + .nav_panel_wraper, #home {
    border-color: #0691c9;
}

#services + .nav_panel_wraper, #services {
    border-color: #f15f40;
}

#funding + .nav_panel_wraper, #funding {
    border-color: #2cc98f;
}

#investing + .nav_panel_wraper, #investing {
    border-color: #fbba41;
}

#home .nav_overlay_border {
    background-color: #0691c9;
}

#services .nav_overlay_border {
    background-color: #f15f40;
}

#funding .nav_overlay_border {
    background-color: #2cc98f;
}

#investing .nav_overlay_border {
    background-color: #fbba41;
}
/* Navigation end */
/*ChipsAnimation*/
#chipsAnimation {
    position: relative;
    background-size: cover;
    background-image: url('../images/chipsiki/chips1copy2bot.jpg');
    background-color:black;
    height: 250%;
    overflow: hidden;
}

    #chipsAnimation div {
        position: absolute;
    }

.chips_table {
    background-image: url('../images/chipsiki/table.png');
    width: 100%;
    height: 144px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -97px;
}

.chips_stack {
    background-image: url('../images/chipsiki/chips_stack.png');
    width: 887px;
    height: 441px;
    position: relative;
    margin:0 auto;
}

.big_1 {
    background-image: url('../images/chipsiki/Big_1.png');
    width: 211px;
    height: 244px;
    z-index:15
}

.big_2 {
    background-image: url('../images/chipsiki/Big_2.png');
    width: 253px;
    height: 303px;
    z-index:14
}

.big_3 {
    background-image: url('../images/chipsiki/Big_3.png');
    width: 433px;
    height: 361px;
    z-index:16
}

.big_4 {
    background-image: url('../images/chipsiki/Big_4.png');
    width: 265px;
    height: 254px;
    z-index:13
}

.big_5 {
    background-image: url('../images/chipsiki/Big_5.png');
    width: 569px;
    height: 597px;
    z-index:17
}

.big_6 {
    background-image: url('../images/chipsiki/Big_6.png');
    width: 378px;
    height: 369px;
    z-index:15
}


.small_1 {
    background-image: url('../images/chipsiki/small_1.png');
    width: 978px;
    height: 400px;
    z-index:5
}

.small_2 {
    background-image: url('../images/chipsiki/small_2.png');
    width: 1017px;
    height: 377px;
    z-index:5
}

.small_3 {
    background-image: url('../images/chipsiki/small_3.png');
    width: 1322px;
    height: 537px;
    z-index:5
}

.small_4 {
    background-image: url('../images/chipsiki/small_4.png');
    width: 1078px;
    height: 425px;
    z-index:5
}

.small_5 {
    background-image: url('../images/chipsiki/small_5.png');
    width: 1012px;
    height: 425px;
    z-index:3
}

.small_6 {
    background-image: url('../images/chipsiki/small_6.png');
    width: 1227px;
    height: 100%;
    background-size:cover;
    z-index:3
}

.small_7 {
    background-image: url('../images/chipsiki/Small_7.png');
    width: 554px;
    height: 319px;
    z-index:3
}


.layer_1 {
    background-image: url('../images/chipsiki/Layer 1.png');
    width: 554px;
    height: 361px;
    z-index:2
}

.layer_2 {
    background-image: url('../images/chipsiki/Layer 2.png');
    width: 627px;
    height: 235px;
    z-index:2
}

.layer_3 {
    background-image: url('../images/chipsiki/Layer 3.png');
    width: 231px;
    height: 216px;
    z-index:2
}

.layer_4 {
    background-image: url('../images/chipsiki/Layer 4.png');
    width: 325px;
    height: 376px;
    z-index:2
}

/*ChipsAnimation end*/
/*content*/
#content {
    height: 100%;
    background-image: url('../images/chipsiki/chips1bot.png');
    background-size:cover;
    position: absolute;
    width:100%;
    top: 250%;
    z-index: 20;
}
.content_wraper {
    width: calc(100% - 297px); /*необходимо что-бы граница блока совпала с рамкой меню на ноутбуках и десктопах*/
    height: 100%;
    margin:0 auto;
    border-color:inherit;
}
.content_panel_wraper {
    width: 70%;
    height: 100%;
    float: right;
    position: relative;
    padding:2% 0 2% 2%;
    border-color:inherit;
}
.content_panel_row{
    width: 100%;
    height: 51%;
    float: right;
    border-color:inherit;
}
.content_panel{background-color:rgba(23,26,29,.8)}


.content_border_holder {
    height: 100%;
    position: absolute;
    left:-1px;
}
.content_border{    
    height:0;
    border-left: 1px solid;
    position: absolute;
    top:50%;
}

.brservices {
    border-color: #f15f40;
    -moz-transform: translateY(-65px);
    -ms-transform: translateY(-65px);
    -o-transform: translateY(-65px);
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
}
.brfunding{
    border-color: #2cc98f;

}
.brinvesting {
    border-color: #fbba41;
    -moz-transform: translateY(65px);
    -ms-transform: translateY(65px);
    -o-transform: translateY(65px);
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
}

.servicesColor{border-color: #f15f40!important;}
.fundingColor{border-color: #2cc98f!important;}
.investingColor{border-color: #fbba41!important;}
.cpanel_sefborder_left{border-left: 1px solid;}
.cpanel_sefborder_top{border-top: 1px solid;}
.cpanel_sefborder_right{border-right: 1px solid;}
.cpanel1{    
    width: 0;/*30%*/
    height: 100%;
    float: left;
    position:relative;
    border-color: inherit;
}

.cpanel2{
    position:relative;
    width: 0;
    height: 45%;
    float: left;
    border-color: inherit;
    margin-bottom:3.5%;
}
.content_cpanel2_border{
    border-left: 1px solid;
    border-color: inherit; 
    height: 100%;
    opacity:0;
    width: 1px;
    position: absolute;
}

.cpanel3{
    width: 0;
    height: 100%;
    float: left;
    position:relative;
    border-color: inherit;
    left:34%;

}
.content_cpanel3_border{
    border-right: 1px solid;
    border-color: inherit;
    opacity:0;
    height: 100%;
    position: absolute;
    right: -1px;
}
.cpanel4{
    width: 62%;
    height: 0;
    float: right;
    position:relative;
    border-color: inherit;
}
.content_cpanel4_border{
    border-top: 1px solid;
    border-color: inherit; 
    width: 100%;
    opacity:0;
    top:-1px;
    position: absolute;
}
/*content end*/
