/*
    Documentation
    1.Navigation
*/

/*
    Tehcnical classes
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#Stage, #Stage div {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.bg-nonlayer {
    position: absolute;
    height: 135%;
    width: 100%;
    top: 0;
    min-width: 0;
    background-color: rgb(0, 92, 77);
    background-size: cover;
    background-image: url('../images/pokerthrowcards.jpg');
    z-index: 20;
}

/* Navigation */
nav {
    position: fixed;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999;
}

.menu_item {
    width: 65px;
    height: 65px;
    background-color: rgba(23,26,29,.4);
    position: relative;
    left: -65px;
    cursor: pointer;
    float: left;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
}

nav svg {
    width: 52%;
    left: 50%;
    position: relative;
    top: 50%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0.4;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

    nav svg path {
        fill: #ecf0f1;
    }

.nav_overlay_border {
    height: 65px;
    width: 0;
    top: 0;
    position: absolute;
    border-left: 1px solid;
    border-color: transparent;
    -moz-background-clip: content-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.nav_panel_wraper {
    width: 85px;
    height: 65px;
    position: relative;
    top: 0;
    overflow: hidden;
    cursor: default !important;
    float: left;
}

.nav_panel_border {
    width: 85px;
    height: 0;
    left: -85px;
    top: 33px;
    position: absolute;
    border-right: 1px solid;
    border-color: inherit;
}

.nav_panel {
    width: 85px;
    height: 65px;
    text-transform: uppercase;
    line-height: 65px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.857em;
    color: #ecf0f1;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: -85px;
    background-color: rgba(23,26,29,.4);
    cursor: pointer;
    -moz-transition: clip .2s linear;
    -o-transition: clip .2s linear;
    -webkit-transition: clip .2s linear;
    transition: clip .2s linear;
}

.menu_active {
    background-color: rgba(23,26,29,.8);
}

    .menu_active .nav_overlay_border {
        border-color: inherit;
    }

    .menu_item:hover svg, .menu_active svg {
        opacity: 0.8;
    }



#home + .nav_panel_wraper, #home {
    border-color: #0691c9;
}

#services + .nav_panel_wraper, #services {
    border-color: #f15f40;
}

#funding + .nav_panel_wraper, #funding {
    border-color: #2cc98f;
}

#investing + .nav_panel_wraper, #investing {
    border-color: #fbba41;
}

#home .nav_overlay_border {
    background-color: #0691c9;
}

#services .nav_overlay_border {
    background-color: #f15f40;
}

#funding .nav_overlay_border {
    background-color: #2cc98f;
}

#investing .nav_overlay_border {
    background-color: #fbba41;
}
/* Navigation end */
/*ChipsAnimation*/
#chipsAnimation {
    position: relative;
    background-size: cover;
    background-image: url('../images/chipsiki/chips1copy2bot.jpg');
    background-color: black;
    height: 250%;
    overflow: hidden;
}

    #chipsAnimation div {
        position: absolute;
    }

.chips_table {
    background-image: url('../images/chipsiki/table.png');
    width: 100%;
    height: 144px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -97px;
}

.chips_stack {
    background-image: url('../images/chipsiki/chips_stack.png');
    width: 887px;
    height: 441px;
    position: absolute;
    left: 50%;
    margin-left: -443px;
}

.big_1 {
    background-image: url('../images/chipsiki/Big_1.png');
    width: 211px;
    height: 244px;
    z-index: 15;
}

.big_2 {
    background-image: url('../images/chipsiki/Big_2.png');
    width: 253px;
    height: 303px;
    z-index: 14;
}

.big_3 {
    background-image: url('../images/chipsiki/Big_3.png');
    width: 433px;
    height: 361px;
    z-index: 16;
}

.big_4 {
    background-image: url('../images/chipsiki/Big_4.png');
    width: 265px;
    height: 254px;
    z-index: 13;
}

.big_5 {
    background-image: url('../images/chipsiki/Big_5.png');
    width: 569px;
    height: 597px;
    z-index: 17;
}

.big_6 {
    background-image: url('../images/chipsiki/Big_6.png');
    width: 378px;
    height: 369px;
    z-index: 15;
}


.small_1 {
    background-image: url('../images/chipsiki/small_1.png');
    width: 978px;
    height: 400px;
    z-index: 5;
}

.small_2 {
    background-image: url('../images/chipsiki/small_2.png');
    width: 1017px;
    height: 377px;
    z-index: 5;
}

.small_3 {
    background-image: url('../images/chipsiki/small_3.png');
    width: 1322px;
    height: 537px;
    z-index: 5;
}

.small_4 {
    background-image: url('../images/chipsiki/small_4.png');
    width: 1078px;
    height: 425px;
    z-index: 5;
}

.small_5 {
    background-image: url('../images/chipsiki/small_5.png');
    width: 1012px;
    height: 425px;
    z-index: 3;
}

.small_6 {
    background-image: url('../images/chipsiki/small_6.png');
    width: 1227px;
    height: 100%;
    background-size: cover;
    z-index: 3;
}

.small_7 {
    background-image: url('../images/chipsiki/Small_7.png');
    width: 554px;
    height: 319px;
    z-index: 3;
}


.layer_1 {
    background-image: url('../images/chipsiki/Layer 1.png');
    width: 554px;
    height: 361px;
    z-index: 2;
}

.layer_2 {
    background-image: url('../images/chipsiki/Layer 2.png');
    width: 627px;
    height: 235px;
    z-index: 2;
}

.layer_3 {
    background-image: url('../images/chipsiki/Layer 3.png');
    width: 231px;
    height: 216px;
    z-index: 2;
}

.layer_4 {
    background-image: url('../images/chipsiki/Layer 4.png');
    width: 325px;
    height: 376px;
    z-index: 2;
}

/*ChipsAnimation end*/
/*content*/
#content {
    height: 100%;
    background-image: url('../images/chipsiki/chips1bot.png');
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 250%;
    z-index: 20;
}

.content_wraper {
    width: calc(100% - 297px); /*необходимо что-бы граница блока совпала с рамкой меню на ноутбуках и десктопах*/
    height: 100%;
    margin: 0 auto;
    border-color: inherit;
}

.content_panel_wraper {
    width: 70%;
    height: 100%;
    float: right;
    position: relative;
    padding: 2% 0 2% 2%;
    border-color: inherit;
}

.content_panel_row {
    width: 100%;
    height: 51%;
    float: right;
    border-color: inherit;
}

.content_panel {
    background-color: rgba(23,26,29,.8);
}

/*Border and content panel appear animation*/
.content_border_holder {
    height: 100%;
    position: absolute;
    left: -1px;
}

.content_border {
    height: 0;
    border-left: 1px solid;
    position: absolute;
    top: 50%;
}

.brservices {
    border-color: #f15f40;
    -moz-transform: translateY(-65px);
    -ms-transform: translateY(-65px);
    -o-transform: translateY(-65px);
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
}

.brfunding {
    border-color: #2cc98f;
}

.brinvesting {
    border-color: #fbba41;
    -moz-transform: translateY(65px);
    -ms-transform: translateY(65px);
    -o-transform: translateY(65px);
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
}

.servicesColor {
    border-color: #f15f40 !important;
}

.fundingColor {
    border-color: #2cc98f !important;
}

.investingColor {
    border-color: #fbba41 !important;
}

.homeColor {
    border-color: #0692ca !important;
}

.cpanel_sefborder_left {
    border-left: 1px solid;
}

.cpanel_sefborder_top {
    border-top: 1px solid;
}

.cpanel_sefborder_right {
    border-right: 1px solid;
}

.cpanel1 {
    width: 0; /*30%*/
    height: 100%;
    float: left;
    position: relative;
    border-color: inherit;
}

.cpanel2 {
    position: relative;
    width: 0;
    height: 45%;
    float: left;
    border-color: inherit;
    margin-bottom: 3.5%;
}

.content_cpanel2_border {
    border-left: 1px solid;
    border-color: inherit;
    height: 100%;
    opacity: 0;
    width: 1px;
    position: absolute;
}

.cpanel3 {
    width: 0;
    height: 100%;
    float: left;
    position: relative;
    border-color: inherit;
    left: 34%;
}

.content_cpanel3_border {
    border-right: 1px solid;
    border-color: inherit;
    opacity: 0;
    height: 100%;
    position: absolute;
    right: -1px;
}

.cpanel4 {
    width: 62%;
    height: 0;
    float: right;
    position: relative;
    border-color: inherit;
}

.content_cpanel4_border {
    border-top: 1px solid;
    border-color: inherit;
    width: 100%;
    opacity: 0;
    top: -1px;
    position: absolute;
}

.cpanel5 {
    float: right;
    width: 62%;
    height: 0; /*30%*/
    position: relative;
    margin-top: 4%;
    border-color: inherit;
}

.content_cpanel5_border {
    border-top: 1px solid;
    border-color: inherit;
    width: 100%;
    opacity: 0;
    top: -32%;
    position: absolute;
}

.content_cpanel5_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: none;
}
/*Border and content panel appear animation end*/
.content_cpanel1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

    .content_cpanel1 div {
        vertical-align: middle;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: #ecf0f1;
        position: absolute;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
    }

    .content_cpanel1 h2 {
        font-weight: 700;
        font-size: 2.571em;
        opacity: 0;
    }

    .content_cpanel1 p {
        font-weight: 300;
        font-size: 1.143em;
        width: 75%;
        margin: 0 auto;
        opacity: 0;
    }
/*Cpanel2 classes*/
.content_cpanel2 {
    width: 100%;
    height: 100%;
}

    .content_cpanel2 > div {
        width: 100%;
        height: 90%;
        position: absolute;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        display: none;
        overflow: hidden;
    }

.cpanel2_services_counter, .cpanel2_funding_counter, .cpanel2_investing_counter {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #ecf0f1;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 44px;
    vertical-align: middle;
}

.cpanel2_services_numeric {
    font-family: 'Open Sans', sans-serif;
    color: #f15f40;
    font-size: 1.5em;
    line-height: 57px;
    font-weight: 600;
}

.cpanel2_funding_numeric {
    font-family: 'Open Sans', sans-serif;
    color: #2cc98f;
    font-size: 1.5em;
    line-height: 57px;
    font-weight: 600;
}

.cpanel2_investing_numeric {
    font-family: 'Open Sans', sans-serif;
    color: #fbba41;
    font-size: 1.5em;
    line-height: 57px;
    font-weight: 600;
}

.cpanel2_services_speedometers, .cpanel2_funding_money {
    width: 100%;
    height: 75%;
}

.cpanel2_services_speedometer_winers {
    width: 50%;
    height: 100%;
    float: left;
}

.cpanel2_services_speedometer_losers {
    width: 50%;
    height: 100%;
    float: right;
}

.speedometers_losers, .speedometers_winers {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
    position: relative;
}

.content_cpanel2_video {
    width: 100%;
    height: 90%;
    position: absolute;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    display: none;
    overflow: hidden;
}

.cpanel2_video_placeholder {
    color: white;
    font-size: 7em;
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    width: 15%;
    margin: 0 auto;
    position: relative;
    top: 25%;
}

.play_ico {
    cursor: pointer;
}

.speedometers_losers {
    background-image: url('../images/dev_ass/Gauges/gauge_red.png');
}

.speedometers_winers {
    background-image: url('../images/dev_ass/Gauges/gauge_blue.png');
}

.speedometers_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 1.58px;
    color: #ECF0F1;
    text-align: center;
    height: 20%;
    margin: 0;
    padding: 3% 0;
}

.speedArrow {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 20%;
    height: 2%;
    background-color: white;
    border-radius: 7%;
    -moz-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
    -webkit-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    -webkit-transform-origin: left;
    transform-origin: left;
}

.speedDot {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 48%;
    bottom: -4%;
    border-radius: 100%;
    clip: rect(0px,15px,9px,0px);
}

.speedometers_winers .speedDot, .speedometers_winers .speedText {
    background-color: #0692ca;
    color: #0692ca;
}

.speedometers_losers .speedDot, .speedometers_losers .speedText {
    background-color: #fc6042;
    color: #fc6042;
}

.speedText {
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 16%;
    background-color: transparent !important;
    font-family: Open Sans;
    font-weight: bold;
    font-style: italic;
    font-size: 21px;
    letter-spacing: -0.52px;
}

.money_bank {
    background-image: url('../images/dev_ass/Funding/money_machine.png');
    background-position: 100% 0;
}
.money_trader{position:relative;}

.money_trader_full {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 100%;
}

    .money_trader_full img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;
    }

.money_trader_unfull {
    position: absolute;
    width: 60%;
    height: 100%;
}
    .money_trader_unfull img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }
.animationMoney {
    -moz-animation: test1 5s linear forwards;
    -o-animation: test1 5s linear forwards;
    -webkit-animation: test1 5s linear forwards;
    animation: test1 5s linear forwards;
}

@keyframes test1 {
    from {
        top: 100%;
    }

    to {
        top: 0;
    }
}

.money_trader_full.animationMoney img {
    -moz-animation: test2 5s linear forwards;
    -o-animation: test2 5s linear forwards;
    -webkit-animation: test2 5s linear forwards;
    animation: test2 5s linear forwards;
}

@keyframes test2 {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

.banknotes {
    background-image: url('../images/dev_ass/Funding/bill.png');
    width: 47px;
    height: 46px;
    position: absolute;
    top: 40%;
    left: -30%;
}

.cpanel2_funding_money_bank {
    height: 100%;
    width: 36%;
    display: inline-block;
}

.cpanel2_funding_money_flying {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 22%;
    display: inline-block;
}

.cpanel2_funding_money_trader {
    height: 100%;
    width: 39%;
    display: inline-block;
}

.money_bank, .money_trader {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
}

.moneyText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 1.58px;
    color: #ECF0F1;
    height: 20%;
    margin: 0;
    padding: 3% 0;
}

.money_bank + .moneyText {
    text-align: right;
    padding-right: 16%;
}

.money_trader + .moneyText {
    text-align: left;
    padding-left: 16%;
}


.cpanel2_investing_graphics {
    width: 100%;
    height: 75%;
}

.cpanel2_investing_graphics_moneybox {
    width: 50%;
    height: 100%;
    float: left;
}

.cpanel2_investing_graphics_grafick {
    width: 50%;
    height: 100%;
    float: right;
}

.grafick_axis {
    background-image: url('../images/dev_ass/Investing/axis.png');
    height: 100%;
    width: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2% auto;
    position: relative;
}

.graphics_moneybox, .graphics_grafick {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
    position: relative;
}

    .graphics_moneybox img {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .graphics_moneybox.coinFals .coin1 {
        -moz-animation: coin1fall 2.5s linear forwards;
        -o-animation: coin1fall 2.5s linear forwards;
        -webkit-animation: coin1fall 2.5s linear forwards;
        animation: coin1fall 2.5s linear forwards;
        -moz-animation-iteration-count: 2;
        -o-animation-iteration-count: 2;
        -webkit-animation-iteration-count: 2;
        animation-iteration-count: 2;
    }

    .graphics_moneybox.coinFals .coin2 {
        -moz-animation: coin2fall 2.5s linear forwards;
        -o-animation: coin2fall 2.5s linear forwards;
        -webkit-animation: coin2fall 2.5s linear forwards;
        animation: coin2fall 2.5s linear forwards;
        -moz-animation-iteration-count: 2;
        -o-animation-iteration-count: 2;
        -webkit-animation-iteration-count: 2;
        animation-iteration-count: 2;
    }

@keyframes coin1fall {
    from {
        top: -88%;
    }

    to {
        top: 40%;
    }
}

@keyframes coin2fall {
    from {
        top: -112%;
    }

    to {
        top: 40%;
    }
}

.graphics_grafick svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top:-3px;
    left:3px;
}

#line {
    stroke-dashoffset: 465;
}

.drawLine {
    -moz-animation: dashStroke 5s linear forwards;
    -o-animation: dashStroke 5s linear forwards;
    -webkit-animation: dashStroke 5s linear forwards;
    animation: dashStroke 5s linear forwards;
}

@keyframes dashStroke {
    from {
        stroke-dashoffset: 465;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.graphics_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 1.58px;
    color: #ECF0F1;
    text-align: center;
    height: 20%;
    margin: 0;
    padding: 3% 0;
}

/*Cpanel3 classes*/
.content_cpanel3_services, .content_cpanel3_funding, .content_cpanel3_investing {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

.cpanel3_any_wraper {
    width: 100%;
    height: 100%;
}

.cpanel3_any_text {
    height: 15%;
    padding: 7% 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 1.58px;
    color: #ECF0F1;
}

    .cpanel3_any_text span {
        font-family: Open Sans;
        font-size: 21px;
        letter-spacing: -0.52px;
        color: #0692ca;
    }




.cpanel3_services_spiner, .cpanel3_funding_spiner, .cpanel3_investing_spiner {
    width: 100%;
    height: 85%;
    position: relative;
}

    .cpanel3_services_spiner canvas, .cpanel3_funding_spiner canvas, .cpanel3_investing_spiner canvas {
        margin: 0 auto;
        position: relative;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        display: block;
    }

/*Cpanel4*/
.content_cpanel4_wraper {
    width: 100%;
    height: 55%;
}

.content_cpanel4_services, .content_cpanel4_investing, .content_cpanel4_funding {
    position: absolute;
    width: 100%;
    display: none;
}

.cpanel4_any_title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #ecf0f1;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0.075em;
    line-height: 44px;
    vertical-align: middle;
    padding-top: 10%;
}

.cpanel4_services_titleNumber, .cpanel4_funding_titleNumber, .cpanel4_investing_titleNumber {
    font-family: 'Open Sans', sans-serif;
    line-height: 57px;
    font-weight: 600;
}

.cpanel4_services_titleNumber {
    color: #fc6042;
}

.cpanel4_funding_titleNumber {
    color: #2cc98f;
}

.cpanel4_investing_titleNumber {
    color: #fbba41;
}

.cpanel4_any_explain {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #ecf0f1;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 44px;
    vertical-align: middle;
}

.content_cpanel4_hiddenPanel {
    width: 100%;
    height: 45%;
}

.cpanel4_hiddenPanel_findOut {
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-family: "Open Sans";
    color: rgb(236, 240, 241);
    text-align: center;
    letter-spacing: 0.075em;
    font-weight: 300;
    padding: 6% 0;
    display: none;
}

.coin {
    background-image: url('../images/dev_ass/Investing/coin.png');
    width: 33px;
    height: 32px;
    position: absolute;
}

.coin1 {
    top: -88%;
    left: 38%;
}

.coin2 {
    top: -112%;
    left: 50%;
}

.rotateLos {
    -moz-animation: losSpin 5s linear forwards;
    -o-animation: losSpin 5s linear forwards;
    -webkit-animation: losSpin 5s linear forwards;
    animation: losSpin 5s linear forwards;
}

@-moz-keyframes losSpin {
    0% {
        -moz-transform: rotateZ(-180deg);
        -ms-transform: rotateZ(-180deg);
        -o-transform: rotateZ(-180deg);
        -webkit-transform: rotateZ(-180deg);
        transform: rotateZ(-180deg);
    }

    30% {
        -moz-transform: rotateZ(-150deg);
        -ms-transform: rotateZ(-150deg);
        -o-transform: rotateZ(-150deg);
        -webkit-transform: rotateZ(-150deg);
        transform: rotateZ(-150deg);
    }

    50% {
        -moz-transform: rotateZ(-162deg);
        -ms-transform: rotateZ(-162deg);
        -o-transform: rotateZ(-162deg);
        -webkit-transform: rotateZ(-162deg);
        transform: rotateZ(-162deg);
    }

    60% {
        -moz-transform: rotateZ(-126deg);
        -ms-transform: rotateZ(-126deg);
        -o-transform: rotateZ(-126deg);
        -webkit-transform: rotateZ(-126deg);
        transform: rotateZ(-126deg);
    }

    70% {
        -moz-transform: rotateZ(-133deg);
        -ms-transform: rotateZ(-133deg);
        -o-transform: rotateZ(-133deg);
        -webkit-transform: rotateZ(-133deg);
        transform: rotateZ(-133deg);
    }

    80% {
        -moz-transform: rotateZ(-109deg);
        -ms-transform: rotateZ(-109deg);
        -o-transform: rotateZ(-109deg);
        -webkit-transform: rotateZ(-109deg);
        transform: rotateZ(-109deg);
    }

    85% {
        -moz-transform: rotateZ(-118deg);
        -ms-transform: rotateZ(-118deg);
        -o-transform: rotateZ(-118deg);
        -webkit-transform: rotateZ(-118deg);
        transform: rotateZ(-118deg);
    }

    90% {
        -moz-transform: rotateZ(-98deg);
        -ms-transform: rotateZ(-98deg);
        -o-transform: rotateZ(-98deg);
        -webkit-transform: rotateZ(-98deg);
        transform: rotateZ(-98deg);
    }

    100% {
        -moz-transform: rotateZ(-71deg);
        -ms-transform: rotateZ(-71deg);
        -o-transform: rotateZ(-71deg);
        -webkit-transform: rotateZ(-71deg);
        transform: rotateZ(-71deg);
    }
}

@-webkit-keyframes losSpin {
    0% {
        -moz-transform: rotateZ(-180deg);
        -ms-transform: rotateZ(-180deg);
        -o-transform: rotateZ(-180deg);
        -webkit-transform: rotateZ(-180deg);
        transform: rotateZ(-180deg);
    }

    30% {
        -moz-transform: rotateZ(-150deg);
        -ms-transform: rotateZ(-150deg);
        -o-transform: rotateZ(-150deg);
        -webkit-transform: rotateZ(-150deg);
        transform: rotateZ(-150deg);
    }

    50% {
        -moz-transform: rotateZ(-162deg);
        -ms-transform: rotateZ(-162deg);
        -o-transform: rotateZ(-162deg);
        -webkit-transform: rotateZ(-162deg);
        transform: rotateZ(-162deg);
    }

    60% {
        -moz-transform: rotateZ(-126deg);
        -ms-transform: rotateZ(-126deg);
        -o-transform: rotateZ(-126deg);
        -webkit-transform: rotateZ(-126deg);
        transform: rotateZ(-126deg);
    }

    70% {
        -moz-transform: rotateZ(-133deg);
        -ms-transform: rotateZ(-133deg);
        -o-transform: rotateZ(-133deg);
        -webkit-transform: rotateZ(-133deg);
        transform: rotateZ(-133deg);
    }

    80% {
        -moz-transform: rotateZ(-109deg);
        -ms-transform: rotateZ(-109deg);
        -o-transform: rotateZ(-109deg);
        -webkit-transform: rotateZ(-109deg);
        transform: rotateZ(-109deg);
    }

    85% {
        -moz-transform: rotateZ(-118deg);
        -ms-transform: rotateZ(-118deg);
        -o-transform: rotateZ(-118deg);
        -webkit-transform: rotateZ(-118deg);
        transform: rotateZ(-118deg);
    }

    90% {
        -moz-transform: rotateZ(-98deg);
        -ms-transform: rotateZ(-98deg);
        -o-transform: rotateZ(-98deg);
        -webkit-transform: rotateZ(-98deg);
        transform: rotateZ(-98deg);
    }

    100% {
        -moz-transform: rotateZ(-71deg);
        -ms-transform: rotateZ(-71deg);
        -o-transform: rotateZ(-71deg);
        -webkit-transform: rotateZ(-71deg);
        transform: rotateZ(-71deg);
    }
}




.rotateWin {
    -moz-animation: winSpin 5s linear forwards;
    -o-animation: winSpin 5s linear forwards;
    -webkit-animation: winSpin 5s linear forwards;
    animation: winSpin 5s linear forwards;
}

@-moz-keyframes winSpin {
    0% {
        -moz-transform: rotateZ(-180deg);
        -ms-transform: rotateZ(-180deg);
        -o-transform: rotateZ(-180deg);
        -webkit-transform: rotateZ(-180deg);
        transform: rotateZ(-180deg);
    }

    30% {
        -moz-transform: rotateZ(-170deg);
        -ms-transform: rotateZ(-170deg);
        -o-transform: rotateZ(-170deg);
        -webkit-transform: rotateZ(-170deg);
        transform: rotateZ(-170deg);
    }

    50% {
        -moz-transform: rotateZ(-165deg);
        -ms-transform: rotateZ(-165deg);
        -o-transform: rotateZ(-165deg);
        -webkit-transform: rotateZ(-165deg);
        transform: rotateZ(-165deg);
    }

    60% {
        -moz-transform: rotateZ(-150deg);
        -ms-transform: rotateZ(-150deg);
        -o-transform: rotateZ(-150deg);
        -webkit-transform: rotateZ(-150deg);
        transform: rotateZ(-150deg);
    }

    70% {
        -moz-transform: rotateZ(-160deg);
        -ms-transform: rotateZ(-160deg);
        -o-transform: rotateZ(-160deg);
        -webkit-transform: rotateZ(-160deg);
        transform: rotateZ(-160deg);
    }

    80% {
        -moz-transform: rotateZ(-162deg);
        -ms-transform: rotateZ(-162deg);
        -o-transform: rotateZ(-162deg);
        -webkit-transform: rotateZ(-162deg);
        transform: rotateZ(-162deg);
    }

    85% {
        -moz-transform: rotateZ(-159deg);
        -ms-transform: rotateZ(-159deg);
        -o-transform: rotateZ(-159deg);
        -webkit-transform: rotateZ(-159deg);
        transform: rotateZ(-159deg);
    }

    90% {
        -moz-transform: rotateZ(-140deg);
        -ms-transform: rotateZ(-140deg);
        -o-transform: rotateZ(-140deg);
        -webkit-transform: rotateZ(-140deg);
        transform: rotateZ(-140deg);
    }

    100% {
        -moz-transform: rotateZ(-135deg);
        -ms-transform: rotateZ(-135deg);
        -o-transform: rotateZ(-135deg);
        -webkit-transform: rotateZ(-135deg);
        transform: rotateZ(-135deg);
    }
}

@-webkit-keyframes winSpin {
    0% {
        transform: rotateZ(-180deg);
    }

    30% {
        transform: rotateZ(-170deg);
    }

    50% {
        transform: rotateZ(-165deg);
    }

    60% {
        transform: rotateZ(-150deg);
    }

    70% {
        transform: rotateZ(-160deg);
    }

    80% {
        transform: rotateZ(-162deg);
    }

    85% {
        transform: rotateZ(-159deg);
    }

    90% {
        transform: rotateZ(-140deg);
    }

    100% {
        transform: rotateZ(-135deg);
    }
}

@keyframes winSpin {
    0% {
        transform: rotateZ(-180deg);
    }

    30% {
        transform: rotateZ(-170deg);
    }

    50% {
        transform: rotateZ(-165deg);
    }

    60% {
        transform: rotateZ(-150deg);
    }

    70% {
        transform: rotateZ(-160deg);
    }

    80% {
        transform: rotateZ(-162deg);
    }

    85% {
        transform: rotateZ(-159deg);
    }

    90% {
        transform: rotateZ(-140deg);
    }

    100% {
        transform: rotateZ(-135deg);
    }
}

.banknotesMove {
    -moz-animation: Bmove 1s linear forwards;
    -o-animation: Bmove 1s linear forwards;
    -webkit-animation: Bmove 1s linear forwards;
    animation: Bmove 1s linear forwards;
    -moz-animation-iteration-count: 5;
    -o-animation-iteration-count: 5;
    -webkit-animation-iteration-count: 5;
    animation-iteration-count: 5;
}

@keyframes Bmove {
    0% {
        left: -30%;
        top: 40%;
    }

    20% {
        left: -4%;
        top: 30%;
    }

    40% {
        left: 22%;
        top: 20%;
    }

    60% {
        left: 48%;
        top: 20%;
    }

    80% {
        left: 74%;
        top: 30%;
    }

    100% {
        left: 100%;
        top: 40%;
    }
}

@-moz-keyframes Bmove {
    0% {
        left: -30%;
        top: 40%;
    }

    20% {
        left: -4%;
        top: 30%;
    }

    40% {
        left: 22%;
        top: 20%;
    }

    60% {
        left: 48%;
        top: 20%;
    }

    80% {
        left: 74%;
        top: 30%;
    }

    100% {
        left: 100%;
        top: 40%;
    }
}

@-webkit-keyframes Bmove {
    0% {
        left: -30%;
        top: 40%;
    }

    20% {
        left: -4%;
        top: 30%;
    }

    40% {
        left: 22%;
        top: 20%;
    }

    60% {
        left: 48%;
        top: 20%;
    }

    80% {
        left: 74%;
        top: 30%;
    }

    100% {
        left: 100%;
        top: 40%;
    }
}
/*content end*/
/*FOOTER*/

.servicesText {
    color: #f15f40 !important;
}

.fundingText {
    color: #2cc98f !important;
}

.investingText {
    color: #fbba41 !important;
}

.homeText {
    color: #0692ca !important;
}

footer {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/foo.jpg');
    background-size: cover;
    position: relative;
}

.foo_cards_wrapper {
    width: 100%;
    text-align: center;
    height: 62%;
}

.foo_singlecard_container {
    display: inline-block;
    width: 266px;
    height: 380px;
    margin: 25px 10px 0;
    position: relative;
}

.singlecard_container_border {
    border-left: 1px solid;
    border-color: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}

.singlecard {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background-color: rgba(23,26,29,.8);
    overflow: hidden;
}

.singlecard_header {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.25em;
    color: inherit;
    margin: 10px 0;
    height: 8%;
    letter-spacing: 0.095em;
}

.singlecard_photoText_wraper {
    height: 30%;
    width: 100%;
}

.singlecard_photoText_photo, .singlecard_photoText_Text {
    height: 100%;
    display: inline-block;
}

.singlecard_photoText_Text {
    width: 45%;
}

.singlecard_photoText_photo {
    float: left;
    width: 55%;
}

.photoText_Text_quote, .photoText_Text_summ {
    height: 50%;
    width: 100%;
}

.photoText_Text_quote {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.020em;
    color: #ecf0f1;
    text-align: right;
}

.photoText_Text_summ_netWorth {
    width: 55%;
    height: 100%;
    float: left;
    text-align: left;
}

.photoText_Text_summ_number {
    font-family: 'Oswald', sans-serif;
    font-size: 1.750em;
    color: #ecf0f1;
    letter-spacing: -0.020em;
    width: 45%;
    height: 100%;
    float: left;
    text-align: right;
    padding: 0 5px;
}

.counter_services {
    border-bottom: 2px solid #f15f40;
}

.counter_investing {
    border-bottom: 2px solid #fbba41;
}

.counter_funding {
    border-bottom: 2px solid #2cc98f;
}

.counter_home {
    border-bottom: 2px solid #0692ca;
}

.netWorth_billion {
    text-align: left;
    width: 100%;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: -0.030em;
    color: #ecf0f1;
}

.netWorth_itself {
    width: 100%;
    white-space: nowrap;
    font-family: 'Oswald',sans-serif;
    font-weight: 300;
    font-size: 0.875em;
    letter-spacing: 0.010em;
    color: #ecf0f1;
}

.summ_number_decimal {
    font-size: 0.688em;
}

.singlecard_information_wrapper {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
}

.steveConeh_text1 {
    display: inline-block;
    width: 30%;
}

    .steveConeh_text1 span {
        font-family: 'Oswald',sans-serif;
    }

.steveConeh_text1_and {
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: 0.030em;
}

.steveConeh_text1_just {
    font-size: 0.725em;
    color: #f15f40;
    font-weight: 400;
    letter-spacing: 0.028em;
}

.steveConeh_text1_made {
    font-size: 1.188em;
    color: #ecf0f1;
    font-weight: 600;
    letter-spacing: 0.028em;
}

.steveConeh_text2 {
    display: inline-block;
    width: 40%;
}

.steveConeh_text2_sign {
    font-family: 'Open Sans',sans-serif;
    font-size: 1.4em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: -0.13em;
    vertical-align: top;
    position: relative;
    top: 8px;
}

.steveConeh_text2_profit {
    font-family: 'Oswald',sans-serif;
    font-size: 2.188em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: 0.020em;
}

.steveConeh_text3 {
    display: inline-block;
    width: 30%;
}

.steveConeh_text3_more {
    font-family: 'Oswald',sans-serif;
    font-size: 1.588em;
    color: #ecf0f1;
    font-weight: 400;
    letter-spacing: -0.025em;
    border-bottom: 2px solid #f15f40;
}

.singlecard_endPhrase {
    width: 100%;
    height: 12%;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.750em;
    color: #ecf0f1;
    letter-spacing: 0.060em;
}

.georgeSoros_text1 {
    width: 50%;
    border-right: 2px solid;
    text-align: right;
    padding-right: 1%;
    line-height: 18px;
}

.georgeSoros_text1_sailed {
    font-family: 'Open Sans',sans-serif;
    font-size: 1.188em;
    color: #ecf0f1;
    font-weight: 600;
    letter-spacing: 0.010em;
    text-transform: uppercase;
}

.georgeSoros_text1_away {
    font-family: 'Open Sans',sans-serif;
    font-size: 0.750em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: 0.135em;
    text-transform: uppercase;
}

.georgeSoros_text1_from {
    font-family: 'Oswald',sans-serif;
    font-size: 1.313em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: 0.020em;
}

.georgeSoros_text1_humanBeing {
    font-family: 'Oswald',sans-serif;
    font-size: 0.875em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: 0.040em;
}


.georgeSoros_text2 {
}

.georgeSoros_text2_for {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.938em;
    color: #fbba41;
    font-weight: 300;
    letter-spacing: 0.040em;
    margin: 0 -2px 0 3px;
    vertical-align: super;
    position: relative;
    bottom: 5px;
}

.georgeSoros_text2_sign {
    font-family: 'Open Sans',sans-serif;
    font-size: 1.4em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: -0.13em;
    vertical-align: top;
    position: relative;
    top: 8px;
}

.georgeSoros_text2_number {
    font-family: 'Oswald',sans-serif;
    font-size: 2em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: 0.015em;
}

.larryRobbins_information_wrapper {
    display: block;
    padding: 13% 0;
}

.larryRobbins_text1 {
    display: inline-block;
}

.larryRobbins_text2 {
    display: inline-flex;
    width: 100%;
}

.larryRobbins_text1_wrapper {
    font-family: Oswald,sans-serif;
    font-size: 1.125em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: 0.010em;
    text-transform: uppercase;
}

.larryRobbins_text1_dot {
    color: #2cc98f;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.063em;
    font-weight: 600;
}

.larryRobbins_text1_money {
    font-family: 'Open Sans',sans-serif;
    font-size: 1.063em;
    font-weight: 600;
    color: #ecf0f1;
    letter-spacing: 0.010em;
}

.larryRobbins_text2_means, .larryRobbins_text2_wasmade {
    width: 30%;
}

.larryRobbins_text2_profit {
    width: 40%;
}

.larryRobbins_text2_means {
    font-family: Oswald,sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    color: #2cc98f;
    letter-spacing: 0.090em;
    line-height: 47px;
}

.larryRobbins_text2_means_border {
    border-bottom: 2px solid #2cc98f;
}



.larryRobbins_text2_profit_sign {
    font-family: 'Open Sans',sans-serif;
    font-size: 1.4em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: -0.13em;
    vertical-align: top;
    position: relative;
    top: 8px;
}

.larryRobbins_text2_profit_number {
    font-family: 'Oswald',sans-serif;
    font-size: 2em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: 0.015em;
}

.larryRobbins_text2_wasmade {
    line-height: 47px;
}

.larryRobbins_text2_was {
    font-family: 'Oswald',sans-serif;
    font-size: 0.813em;
    color: #2cc98f;
    font-weight: 300;
    letter-spacing: -0.010em;
}

.larryRobbins_text2_made {
    font-family: 'Oswald',sans-serif;
    font-size: 1.125em;
    color: #ecf0f1;
    font-weight: 400;
    letter-spacing: 0.050em;
    text-transform: uppercase;
    position: relative;
    top: 3px;
}

.rayDalio_text1, .rayDalio_text1 {
    width: 50%;
}

.rayDalio_text1_row1_by {
    background-color: #0692ca;
    font-family: 'Open Sans', sans-serif;
    color: #ecf0f1;
    font-style: italic;
    font-weight: 600;
    padding: 1px 7px;
    letter-spacing: 0.01em;
    font-size: 0.813em;
    position: relative;
    bottom: 4px;
}

.rayDalio_text1_row1_pushing {
    font-family: 'Oswald',sans-serif;
    font-size: 1.125em;
    color: #ecf0f1;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.rayDalio_text1_row2_rightButtons {
    font-family: Oswald,sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #ecf0f1;
    letter-spacing: 0.095em;
}

.rayDalio_text1_row3_ray {
    font-family: 'Open Sans',sans-serif;
    font-size: 0.875em;
    font-weight: 600;
    color: #ecf0f1;
    letter-spacing: 0;
}

.rayDalio_text1_row3_earned {
    font-family: 'Open Sans',sans-serif;
    font-size: 1.063em;
    font-weight: 300;
    color: #ecf0f1;
    letter-spacing: 0.067em;
    text-transform: uppercase;
}

.rayDalio_text2 {
    width: 50%;
    border-right: 2px solid #0692ca;
    height: 65px;
    position: relative;
}

.rayDalio_text2_sign {
    font-family: 'Open Sans',sans-serif;
    font-size: 0.7em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: -0.13em;
    vertical-align: top;
    position: relative;
    top: 8px;
    left: -2px;
}

.rayDalio_text2_number {
    font-family: 'Oswald',sans-serif;
    font-size: 2em;
    color: #ecf0f1;
    font-weight: 300;
    letter-spacing: 0.015em;
    position: absolute;
    bottom: -6px;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.capitalLogo {
    display: block;
    width: 45%;
    margin: 1% auto;
}

.foo_textArea {
    background-color: rgba(23,26,29,.8);
    width: 100%;
    height: 140px;
    border-top: 2px solid #0692ca;
    position: absolute;
    bottom: 0;
}


.foo_textArea_title {
    font-family: 'open sans';
    font-weight: 600;
    font-size: 2.250em;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
}

.foo_textArea_text {
    font-family: 'open sans';
    font-weight: 400;
    font-size: 0.8em;
    margin: 3px auto;
    text-align: center;
    width: 70%;
    color: #ecf0f1;
}


.photoText_photo_border {
    position: relative;
    height: 100%;
}

    .photoText_photo_border canvas {
        position: absolute;
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }

.photoText_photo_image {
    width: 90px;
    height: 90px;
    position: absolute;
    margin: 0 auto;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.person1 {
    background-image: url('../images/person1.png');
}

.person2 {
    background-image: url('../images/person2.png');
}

.person3 {
    background-image: url('../images/person3.png');
}

.person4 {
    background-image: url('../images/person4.png');
}


.cpanel5_closeIco {
    color: #ecf0f1;
    cursor: pointer;
    display: inline-block;
    right: 1%;
    position: absolute;
    font-size: 0.8em;
    width: 3%;
    text-align: center;
    top: 3%;
}

.cpanel5_formWraper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#subscribeForm {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

input.textInput {
    width: 65%;
    margin-right: 5%;
    border: 1px solid white;
    background-color: transparent;
    height: 30px;
    text-align: center;
    font-family: 'open snas',sans-serif;
    color: white;
    letter-spacing: 0.125em;
}

input.btnInput {
    width: 28%;
    height: 30px;
    border: none;
    background-color: #0692ca;
    vertical-align: middle;
    font-family: 'open sans',semibold;
    font-size: 0.875em;
    letter-spacing: 0.075em;
    font-weight: 400;
    color: #ecf0f1;
}

    input.btnInput:hover {
        box-shadow: inset 0 0 4px white;
    }

.wordpress_container_wrapper {
    width: 65px;
    height: 65px;
    overflow: hidden;
    position: fixed;
    top: 5%;
    right: 0;
    z-index: 100;
}

.wordpress_container {
    width: 100%;
    height: 100%;
    background-color: rgba(23,26,29,.8);
    position: relative;
    left: 65px;
}

.wordpress_svg {
    width: 70%;
    position: relative;
    margin: 0 auto;
    top: 8px;
    cursor: pointer;
}

    .wordpress_svg svg path {
        fill: #676a6c;
        -moz-transition: fill 0.2s linear;
        -o-transition: fill 0.2s linear;
        -webkit-transition: fill 0.2s linear;
        transition: fill 0.2s linear;
    }

    .wordpress_svg:hover svg path {
        fill: #ecf0f1;
    }
/*FOOTER end*/
